:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}

h2 {
  color: #f7f7f7;
}

h3 {
  color: #242424;
}

/* .home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  min-height: calc(100vh - 50px);
  padding-top: 20px;
  padding-bottom: 20px;
} */

.home-btn {
  background-color: #242424;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: solid 1px #242424;
  margin-bottom: 15px;
}

.box {
  background-color: #F2B41E;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 250px;
}

.box-balance {
  background-color: #4B4B4B;
  border-radius: 20px;
  width: 60%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.box-balance h3 {
  color: #f7f7f7;
}

.master-btn {
  background-color: #F2B41E;
  border-radius: 10px;
  color: #242424;
  width: 50%;
  height: 50px;
}